@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roboto";
  src: url("/fonts/regular.ttf");
}

@font-face {
  font-family: "lalezar";
  src: url("/fonts/Lalezar-Regular.ttf");
}

@layer base {
  * {
    @apply font-roboto;
    /* @apply font-lalezar; */
    @apply box-border;
  }
}
